In [2]:
import pandas as pd
from pathlib import Path
import vegafusion_jupyter as vf

In [3]:
outdir = Path("data") / "datashader"
outdir.mkdir(exist_ok=True)

In [3]:
print('Downloading and saving dataset (thanks to the datashader project for making this example dataset available!)... ', end='')
df = pd.read_csv('http://s3.amazonaws.com/datashader-data/nyc_taxi.zip', compression='zip')

Downloading and saving dataset (thanks to the datashader project for making this example dataset available!)...

In [12]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_x,pickup_y,RateCodeID,store_and_fwd_flag,dropoff_x,dropoff_y,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,2,2015-01-15 19:05:39,2015-01-15 19:23:42,1,1.59,-8.236963e+06,4.975553e+06,1,N,-8.234835e+06,4.975627e+06,1,12.0,1.0,0.5,3.25,0.0,0.3,17.05
1,1,2015-01-10 20:33:38,2015-01-10 20:53:28,1,3.30,-8.237826e+06,4.971752e+06,1,N,-8.237021e+06,4.976875e+06,1,14.5,0.5,0.5,2.00,0.0,0.3,17.80
2,1,2015-01-10 20:33:39,2015-01-10 20:35:31,1,0.50,-8.238654e+06,4.970221e+06,1,N,-8.238124e+06,4.971127e+06,2,3.5,0.5,0.5,0.00,0.0,0.3,4.80
3,1,2015-01-10 20:33:39,2015-01-10 20:52:58,1,3.00,-8.234434e+06,4.977363e+06,1,N,-8.238108e+06,4.974457e+06,2,15.0,0.5,0.5,0.00,0.0,0.3,16.30
4,1,2015-01-10 20:33:39,2015-01-10 20:58:31,1,2.20,-8.235781e+06,4.972012e+06,1,N,-8.236804e+06,4.975483e+06,2,14.0,0.5,0.5,0.00,0.0,0.3,15.30

In [13]:
# Convert cols to datetime
for c in ["tpep_pickup_datetime", "tpep_dropoff_datetime"]:
    df[c] = pd.to_datetime(df[c])

In [17]:
# Save to feather file optimized for vegafusion
vf.to_feather(df, outdir / "nyc_taxi.feather")