In [1]:
from pyomnisci import connect
import pandas as pd
from pathlib import Path
import vegafusion_jupyter as vf

In [2]:
outdir = Path("data") / "omnisci"
outdir.mkdir(exist_ok=True)

host = "metis.mapd.com"
dbname = "mapd"

In [3]:
con = connect(
    host=host, user='demouser', password='HyperInteractive',
    port=443, dbname=dbname, protocol= 'https'
)

In [4]:
# Display all tables
print(con.get_tables())

# Display all columns
[c.name for c in con.get_table_details("tweets_nov_feb")]

['flights_donotmodify', 'contributions_donotmodify', 'tweets_nov_feb', 'zipcodes_orig', 'zipcodes', 'demo_vote_clean', 'us_faults', 'zipcodes_2017', 'us_county_level_tiger_edges_2018', 'ca_roads_tiger', 'input_node', 'uk_wells', 'RentalListings', 'github', 'ships_ais', 'asf_msg_graph']

['tweet_id',
 'tweet_time',
 'lat',
 'lon',
 'sender_id',
 'sender_name',
 'location',
 'source',
 'reply_to_user_id',
 'reply_to_tweet_id',
 'lang',
 'followers',
 'followees',
 'tweet_count',
 'join_time',
 'tweet_text',
 'country',
 'admin1',
 'admin2',
 'place_name',
 'state_abbr',
 'county_state',
 'origin',
 'hashtags',
 'tweet_tokens',
 'goog_x',
 'goog_y']

In [5]:
table = "tweets_nov_feb"

cols = [
 'goog_x',
 'goog_y',
 'rowid',
 # 'hashtags',
    
 # 'tweet_id',
 'tweet_time',
    
 # 'lat',
 # 'lon',
 # 'sender_id',
 # 'sender_name',
 # 'location',
 # 'source',
 # 'reply_to_user_id',
 # 'reply_to_tweet_id',
 # 'lang',
 # 'followers',
 # 'followees',
 # 'tweet_count',
 # 'join_time',
 # # 'tweet_text',
 # 'country',
 # 'admin1',
 # 'admin2',
 # 'place_name',
 'state_abbr',
 # 'county_state',
 # 'origin',
 # 'tweet_tokens',
]

partition_cols = ["uniquecarrier", "dest_state"]

In [6]:
df = con.select_ipc(f"""
    SELECT {', '.join(cols)}
    FROM tweets_nov_feb
    """)
df

            goog_x      goog_y   rowid          tweet_time state_abbr
0       -9394523.0  3960077.75   72640 2014-11-01 02:43:41         GA
1        -938794.0  5000062.50   72641 2014-11-01 02:43:41        NaN
2       -9284730.0  5036539.50   72642 2014-11-01 02:43:41         OH
3       -6225065.5 -3168349.75   72643 2014-11-01 02:43:41        NaN
4       15596430.0  4821742.00   72644 2014-11-01 02:43:41        NaN
...            ...         ...     ...                 ...        ...
571997  -8842063.0  4548919.50  548927 2014-11-01 23:11:28         VA
571998  -5187780.5 -2686800.00  545820 2014-11-01 23:05:25        NaN
571999 -10003779.0  3605089.75  545821 2014-11-01 23:05:25         LA
572000  -9125684.0  3075061.25  545822 2014-11-01 23:05:26         FL
572001  -6845822.0 -3665149.00  545823 2014-11-01 23:05:26        NaN

[572002 rows x 5 columns]

In [10]:
vf.to_feather(df, outdir / "tweets_nov_feb.feather")